/* Mencegah kopi paste */
.post-outer {-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-ms-user-select:none;-moz-user-select:none;}
.post-body blockquote,.post-body pre,.post-body code,.resource, li.site,.copy_link{ -webkit-touch-callout:text; -webkit-user-select:text; -khtml-user-select:text; -ms-user-select:text; -moz-user-select:text;}
